!!!
%html
  %head
    %title
      Sinatra Drinks Coffee
    %meta{charset: "utf-8"}
    %link{rel: 'stylesheet', href: "stylesheets/screen.css"}
  %body

    .container

      %h1
        %a{href: '/'}
          = 'Sinatra Drinks Coffee'
      %h2.inline
        = 'Simple Chat App |'
      = 'github'
      %a{href: 'https://github.com/mblongii/sinatra-drinks-coffee.git'}= "repo"
      = ' - blog'
      %a{href: 'http://mblongii.com/sinatra-drinks-coffee'}= "article"

      = yield

    %script{src: "http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"}
    %script{src: "javascripts/login.js"}
    %script{src: "javascripts/chat.js"}
    %script{src: "javascripts/greeting.js"}
